<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.PharmaceuticalDBCS"
            connectionString="Data Source=TEDESCO-LT01\SQLEXPRESS;Initial Catalog=PharmaceuticalDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>